# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
.venv/

# Secret files
*.env

# macOS-specific files
.DS_Store

# IDE or editor-specific files
.vscode/
*.code-workspace

# Dependency management files
pip-lock.txt
requirements.txt

# Log files
*.log

# Temporary files
*.swp
*~

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Project-specific data files or configuration
/output/
/data/